################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs
/src/.vs/SqlAnalyzerExtension/v16
/src/packages
/src/SqlAnalyzerTests/bin/Debug
/src/SqlAnalyzerTests/obj
/src/SqlAnalyzerExtension/bin/Debug
/src/SqlAnalyzerExtension/obj
/src/SqlAnalyzer/bin/Debug
/src/SqlAnalyzer/obj
/src/.vs/SqlAnalyzerExtension/v17/.suo
/src/SqlAnalyzerExtension22/bin/Debug
/src/SqlAnalyzerExtension22/obj
